# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other common files and directories
*.log
*.sqlite3
*.db
*.csv
*.h5
*.hdf5
.DS_Store
.env
